<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#about.handlebars">Plantos</a>

  <!-- button for collapseable menu -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <!-- add active?? -->
      <li class="nav-item"> 
        <a class="nav-link" href="../pages/index.handlebars">Home</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">SignUp/Login</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">About Plantos</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="../pages/settings.handlebars">Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pages/about.handlebars">About the Designers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pages/schedule.handlebars">Watering Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pages/myPlants.handlebars">My Plants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../pages/addPlant.handlebars">Add a Plant</a>
      </li>
  </div>
</nav>