{{!-- main.handlebars is the injection point for all pages --}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Plantos
    {{/if}}
  </title>

  <link rel="stylesheet" href="../../public/assets/css/reset.css" type="text/css"> 
  <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css"> 

  {{!-- bootstrap js --}}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

  {{!-- bootstrap jquery --}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="../../public/assets/js/logic.js"></script>
</head>
<body>

  {{!-- nav bar --}}
  {{> navBar}}

  <div class="container">
    <div class="col">
      {{!-- body=pages  --}}
      {{> body}} 
    </div>
  </div>

</body>
</html>