<ul class="cb-slideshow">
  <li>
    <span>Image 01</span>
  </li>
  <li>
    <span>Image 02</span>
  </li>
  <li>
    <span>Image 03</span>
  </li>
</ul>

<div class="container">
  <div class="row pt-6">

    <div class="col-sm-12 col-md-6 text-sm-center text-md-left">
      <h1 class="">Let's Get Started</h1>
      <hr>
      <h2 class="pt-4">Be the Best Plantperson</h2>
      <p>Sign in to start a watering routine
        <br> for your favorite plants!</p>

      {{!--
      <button id="signUpBtn" type="button" class="btn btn-outline-dark px-5 mt-4">
        <span class="oi oi-plus"></span>Login | Sign-up</button> --}}
    </div>

    <div class="col p-5 opacity ">
      <div class="row">
        <div class="col">
          <h2 class="text-sm-center text-md-left">Login Form</h2>
          <form class="login">
            <div class="form-group">
              <label for="exampleInputEmail1" class="uppercase mt-3">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="uppercase">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 col-lg-5">
          <button id="login-button" type="submit" class=" btn btn-outline-dark px-5 mt-3">Login</button>
        </div>
        </form>
        <div class="col">
          <a href="/signup">
            <button id="" type="submit" class="btn btn-outline-dark px-5 mt-3">Sign Up</button>
          </a>
        </div>
      </div>

      {{!--
      <button id="login-button" type="submit" class="btn btn-dark px-5 mt-3">Login</button>
      </form>
      <a href="/signup">
        <button id="" type="submit" class="btn btn-primary px-5 mt-3">Sign Up</button>
      </a> --}} {{!--
      <br />
      <p>Or sign up
        <a href="/signup">here</a>
      </p> --}}

    </div>
  </div>
</div>

{{!--
<form action="/login" method="post">
  <div>
    <label>Username:</label>
    <input type="text" name="username" />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" value="Log In" />
  </div>
</form> --}}