<h1>My Plants</h1>

<div class="container" id="myPlantsPage">
  {{!-- this container needs to be display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center; --}}
  
<button id="addPlantBtn" type="button" class="btn btn-primary btn-lg">Add a Plant</button>


  {{!-- dymanically add plants here from form info --}}
  {{!-- add wateredIt! button to plant card --}}
</div>