

.logo {
    width: 150px;
}

#footer {
    background-color: $dark;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: .80rem;
}

hr {
    width: 50px;
    border-top:5px solid;


    @include media-breakpoint-up(sm) { margin: 0 auto; }
    @include media-breakpoint-up(md) { margin-left: 0;}
    
}

.hrReset {
    width: 100%;
    border-top:2px solid;
}

h1 {
    font-family: 'Vollkorn';
    font-size: 2.8rem;
}

h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
}

.signInBody {
    background-image: url("../img/succulents.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.addPlantBody {
    background-image: url("../img/cactus.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blue {
    background-color: #E7F1FD;
}

.lightgreen {
    background-color: #EFF9D5;
}

.opacity {
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(215, 241, 150, 0.8);
    border-radius: 0.25rem;
}

.uppercase {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
}

.card {
    width: 12rem;
    margin: 0 2rem 2rem 0;

}

.card-title {
    text-align: center;
}


.card-img-top {
    // max-height: 12rem;
    height: 12rem;
    object-fit: cover;
}

// .modal-content {
//     background-color: pink;
// }


// animated backgound css

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -10; 
}

.cb-slideshow ul {
    list-style-type: none;
}

.cb-slideshow li {
    list-style-type: none;
}
.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; 
}

.cb-slideshow li:nth-child(1) span { 
    background-image: url(../img/succulents.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
    background-image: url(../img/leafplant.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span { 
    background-image: url(../img/greencactus.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
// .cb-slideshow li:nth-child(4) span { 
//     background-image: url(../img/cactus.jpg);
//     -webkit-animation-delay: 18s;
//     -moz-animation-delay: 18s;
//     -o-animation-delay: 18s;
//     -ms-animation-delay: 18s;
//     animation-delay: 18s; 
// }

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}