

.logo {
    width: 150px;
}

#footer {
    background-color: $dark;
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-size: .80rem;
}

hr {
    width: 10%;
    border-top:5px solid;
    margin-left: 0;
}

h1 {
    font-family: 'Vollkorn';
    font-size: 2.8rem;
}

h2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1.5rem;
}

// body {
//     background-image: url("../img/houseplant.jpg");
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     -o-background-size: cover;
//     background-size: cover;
// }

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}