{{> navBar}}

{{!-- about page is injected into main.handlebars --}}
<h1>About Plantos</h1>
<p>Plantos is great for tracking your indoor plants' watering needs. Once</p>

<h2>How to Use</h2>
<ol>
  <li>Set up an account.</li>
  <li>Login.</li>
  <li>Add plants, either choosing one from our database or creating your own.</li>
    <ul>
      <li>Include the common and/or scientific name.</li>
      <li>Use the generic picture or upload your own.</li>
      <li>Include watering needs.</li>
      <li>Include sun needs and whether it's pet friendly.</li>
    </ul>
  <li>Let the app figure out the plant's watering scheulde (if needed).</li>
  <li>Check the calendar to see what to water!</li>
</ol>

<h2>How to Set-up Watering Schedule</h2>
<p>Specific watering requirements aren't usually given right away because it depends on where in the house (by a sunny window, in a corner) you place your plant and the humidity of your home. To figure this out...</p>
<ol>
  <li>Add a new plant.</li>
  <li>Water it the first time and push the WateredIt! button.</li>
  <li>Check the watering requirements. For example, if your palm needs "evenly moist soil, but never soggy," check it every day to see when it's no longer moist. Water it and click the WateredIt! button.</li>
  <li>Three to four clicks are enough to establish a pattern and then the app takes over in reminding you.</li>
</ol>

<h2>Sources</h2>
<p>Watering needs comes from <a href="http://www.guide-to-houseplants.com/">Guide to Houseplants</a></p>