{{> navBar}}

<h1>Add a Plant</h1>
<p>Must fill in at least one of the names fields.</p>
<p>Must fill in at least one of the watering needs fields. If you include text you'll need to click the WateredIt! button at least three times to establish a pattern for the app to take over.</p>

<form id="addPlant">
  
  <div class="form-group">
    <label for="commonName">Common Name</label>
    <input name="common-name" type="text" class="form-control" id="commonName" placeholder="Cat Palm Tree">
  </div>

  <div class="form-group">
    <label for="scientificName">Scientific Name</label>
    <input name="scientific-name" type="text" class="form-control" id="scientificName" placeholder="Chamaedorea cataractarum">
  </div>

  <div class="form-group">
    <label for="wateringNeedsText">Watering Needs (text)</label>
    <textarea name="watering-needs-text" type="text" class="form-control" rows="3" id="wateringNeedsText" placeholder="Keep the soil evenly moist, but not soggy.">
  </div>

  <div class="form-group">
    <label for="wateringNeedsInt">Watering Needs (input how many days between waterings)</label>
    <input name="watering-needs-int" type="text" class="form-control" id="wateringNeedsInt" placeholder="4">
  </div>

  <div class="form-group">
    <label for="sunNeeds">Sun Needs</label>
    <select class="form-control" id="sunNeeds">
      <option>Full Sun</option>
      <option>Partial Sun</option>
      <option>Low Sun</option>
    </select>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="petFriendly" id="petFriendly" value="1" checked>
    <label class="form-check-label" for="petFriendly">
      Pet friendly plant
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="petFriendly" id="petFriendly" value="0">
    <label class="form-check-label" for="petFriendly">
      Not pet friendly plant
    </label>
  </div>

  <button class="submit" type="submit">Submit</button>

</form>