{{!-- home page is injected into main.handlebars --}}

{{> navBarHomePage}}


<h1>Home page</h1>

<button id="scheduleBtn" type="button" class="btn btn-primary btn-lg">Watering Schedule</button>

<button id="myPlantsBtn" type="button" class="btn btn-primary btn-lg">My Plants</button>

<button id="addPlantBtn" type="button" class="btn btn-primary btn-lg">Add a Plant</button>
