{{> navBar}}

<h1>My Plants</h1>

<div class="container" id="myPlantsPage">
  {{!-- this container needs to be display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center; --}}
  
  {{!-- dymanically add plants here from form info --}}
</div>